{% extends "nav.html" %}
{% block content %}
    <meta charset="UTF-8">
    <link type="text/css" href="static/carte.css" rel="stylesheet">
    <title>La Carte</title>
<body>
    <div id="content">
        <div id="smoothie">
            <h1>Les Smoothies</h1>
            <h4>Petit: 4.5€ / Grand: 6€</h4>
         <div class="ingredient">
             <p><b>Multivitaminé:</b> Banane, Coco, Kiwi, Spiruline</p>
            <p><b>Exotique et Frais:</b> Ananas, Passion, Orange, Menthe</p>
            <p><b>Fraicheur rouge:</b> Mirtilles, Fraise, Basilic, </p>
            <p><b>Le Détox:</b> Pomme, Concombre, Litchi</p>
        </div>
        </div>

        <div id="jus">
            <h1>Les Jus Frais</h1>
            <h4>Petit: 4€ / Grand: 5€</h4>
         <div class="ingredient">
             <p>Orange</p>
            <p>Pamplemousse</p>
            <p>Ananas</p>
            </div><p>
        </div>

        <div id="milk">
            <h1>Les Milk Shakes</h1>
            <h4>Petit: 4.5€ / Grand: 6€</h4>
        <div class="ingredient">
                <p>Vanille</p>
            <p>Fraise</p>
            <p>Chocolat</p>
            <p>Mirtilles</p>
        </div>
    </div>
   </div>
</body>
{% endblock %}